*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
.container-content
{   
    background: linear-gradient(to bottom right, red, yellow);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
  
   
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.navbar
{
    background-color:black;
    padding:20px;
    font-size:20px;
    font-weight: 200;
   
}

.container-content .navbar-nav
{
    display:flex;
  
}
.nav-item a
{
    text-decoration: none;
    margin:10px 30px;
   color:white;
}
.nav-item:hover a
{
   opacity: 0.8;
}
.container-content .navbar-nav li
{
    list-style: none;
    margin:10px;
}
.header .text-content
{
    text-align: center;
    color:rgb(231, 245, 179);
    font-weight: 800;
    margin-top:20px;
    font-size:45px;
}
.slide-img
{
    margin-top:30px;
    width: 100%;
    display:flex;
   justify-content: center;
}
.wrap-slide
{
    width: 600px;
    height: 350px;
    position: relative;
}

.slide
{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
img
{
    width: 100%;
    height: 100%;
}
button
{
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(128, 123, 123, 0.4);
    width: 50px;
    height: 40px;
    border-radius: 10px;
}
button:hover
{
    opacity:0.8;
}
.next-btn
{
    position: absolute;
    right: 0;
    top:50%;
}
.prev-btn
{
    position: absolute;
    left: 0;
    top:50%;
}

.img-bot img
{
    margin-top:10px;
    width: 300px;
    height: 270px;
    border-radius:20px;
}
.right
{
    width: 560px;
    display:flex;
    flex-wrap: wrap;
}
.right img
{
    width: 250px;
    height: 200px;
    border-radius:20px;
    margin:0 10px 5px 10px;
}
.footer
{
    display:flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(179, 150, 150, 0.692);
    width: 100%;
}
.footer-content
{
    display:flex;
}
.footer p
{
    padding:0;
    align-items: center;
    display:flex;
    font-weight: bold;
    margin-left: 20px;
}   
